<ul class="nav side-menu">
    <li><a href="/"><i class="fa fa-home"></i> Dashboard </a></li>
    <li><a href="@Url.Action("Index","Appointments")"><i class="fa fa-edit"></i> Appointment</a></li>
    <li> <a href="@Url.Action("Details","Patients")"><i class="fa fa-user"></i> Details </a></li>
    @*<li>Currently wworking on it</li>*@
</ul>